<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
  
  豆瓣最受欢迎的书评
</title>
    
  <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
  
  
  <meta name="keywords" content="书评,热门书评,最新书评"/>
  <meta name="description" content="豆瓣最受欢迎的书评,发表你的书评"/>
  <link rel="alternate" href="/feed/review/best" type="application/rss+xml" title="RSS">

  <link href="https://img3.doubanio.com/f/shire/859dba5cddc7ed1435808cf5a8ddde5792cd6e0c/css/douban.css" rel="stylesheet" type="text/css">
  <link href="https://img3.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
  <link href="https://img3.doubanio.com/f/zerkalo/4b7b75331a86c9c8275ac6b7306e820fc072e09a/css/init.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/57835cde62e18188.css">
  <style type="text/css"></style>

  <script type="text/javascript">var _head_start = new Date();</script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/7cdd59e1378f9ccea648a083fecf12d71ed66c2b/js/jquery-1.8.3.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/5ecaf46d6954d5a30bc7d99be86ae34031646e00/js/douban.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/afb2e24c7be373fa64d49d28de42719ec2262e1c/js/lib/moreurl.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/zerkalo/6df193f196533120434381e2761e9f780eb6f83c/dist/js/base.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
  

  <script type="text/javascript"></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
  
  <script type="text/javascript">var _body_start = new Date();</script>

  

    



    <link href="//img3.doubanio.com/dae/accounts/resources/d3e2921/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=main" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="on">
      <a href="https://www.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/d3e2921/shire/bundle.js" defer="defer"></script>





      



    <link href="//img3.doubanio.com/dae/accounts/resources/d3e2921/book/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-book" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;book.douban.com">豆瓣读书</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;book/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="书名、作者、ISBN" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1001" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://book.douban.com/cart/"
     >购书单</a>
    </li>
    <li    ><a href="https://read.douban.com/ebooks/?dcs=book-nav&dcm=douban"
            target="_blank"
     >电子图书</a>
    </li>
    <li    ><a href="https://market.douban.com/book?utm_campaign=book_nav_freyr&utm_source=douban&utm_medium=pc_web"
     >豆瓣书店</a>
    </li>
    <li    ><a href="https://book.douban.com/annual/2020?source=navigation"
            target="_blank"
     >2020年度榜单</a>
    </li>
    <li    ><a href="https://m.douban.com/standbyme/annual2019?source=navigation"
            target="_blank"
     >2019书影音报告</a>
    </li>
    <li          class=" book-cart"
    ><a href="https://market.douban.com/cart/?biz_type=book&utm_campaign=book_nav_cart&utm_source=douban&utm_medium=pc_web"
            target="_blank"
     >购物车</a>
    </li>
  </ul>
</div>

    <a href="https://book.douban.com/annual/2020?source=book_navigation" class="bookannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'book_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= pic}}" width="40" />
            <div>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                <p>
                {{if type == "b"}}
                    {{= author_name}}
                {{else type == "a" }}
                    {{if en_name}}
                        {{= en_name}}
                    {{/if}}
                {{/if}}
                 </p>
            </div>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/d3e2921/book/bundle.js" defer="defer"></script>






  
  <div id="wrapper" class="book-content review-wrapper">
    

    
  <div id="content">
    
    <h1>豆瓣最受欢迎的书评</h1>

    <div class="grid-16-8 clearfix">
      
      
      <div class="article">
        
  
  <ul class="top-tab clearfix">
      
  
  <li class=" selected">    <a href="javascript:;">      <span>最受欢迎的</span>    </a>  </li>

      
  
  <li class="">    <a href="/review/latest?app_name=book">      <span>最新书评</span>    </a>  </li>

  </ul>
  



<div class="review-list chart ">
            
    
    <div data-cid="13071563">
        <div class="main review-item" id="13071563">
                <a class="subject-img" href="https://book.douban.com/subject/30353862/">                    <img alt="黑死病" title="黑死病" src="https://img9.doubanio.com/view/subject/m/public/s30023016.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/atdelilah/" class="avator">
            <img width="24" height="24" src="https://img1.doubanio.com/icon/u52080104-9.jpg">
        </a>

        <a href="https://www.douban.com/people/atdelilah/" class="name">羽落弦</a>

            <span class="allstar10 main-title-rating" title="很差"></span>

        <span content="2020-12-20" class="main-meta">2020-12-20 20:28:17</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/13071563/">如何精心毁掉一本历史著作</a></h2>

                <div id="review_13071563_short" class="review-short" data-rid="13071563">
                    <div class="short-content">

                        首先一句话总结：毁掉这本书的并不是常见的翻译问题（相反，从译注可以看出译者很用心查资料），不是纸质或排版，而是“精心”的策划与图书设计。 一开始，我是听说这本书里有大量史料图片才买的，它的宣传也都是在强调“选用了大量原始资料”“知名高校图书馆珍藏”。虽然豆瓣...

                        &nbsp;(<a href="javascript:;" id="toggle-13071563-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_13071563_full" class="hidden">
                    <div id="review_13071563_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="13071563" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-13071563">
                                357
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="13071563" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-13071563">
                                1
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/13071563/#comments" class="reply ">28回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="13074519">
        <div class="main review-item" id="13074519">
                <a class="subject-img" href="https://book.douban.com/subject/35291538/">                    <img alt="北方有棵树" title="北方有棵树" src="https://img3.doubanio.com/view/subject/m/public/s33780691.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/cleverou/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u1202656-110.jpg">
        </a>

        <a href="https://www.douban.com/people/cleverou/" class="name">花椰菜</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2020-12-22" class="main-meta">2020-12-22 16:19:57</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/13074519/">《北方有棵树》后记：那些如树般的存在</a></h2>

                <div id="review_13074519_short" class="review-short" data-rid="13074519">
                    <div class="short-content">

                        收到直接从印厂发来的新鲜的样书，我承认是有些激动的。工作多年，输出的文字“发表”，其实早已不是太特别的事，然而书还是不一样的。这种激动，就如同当年刚进入报社工作时，第一篇以实习记者的身份单独署名的报道见报。我至今清晰地记得那是一篇对园林部门的采访，谈及夏季...

                        &nbsp;(<a href="javascript:;" id="toggle-13074519-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_13074519_full" class="hidden">
                    <div id="review_13074519_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="13074519" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-13074519">
                                75
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="13074519" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-13074519">
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/13074519/#comments" class="reply ">29回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="13075922">
        <div class="main review-item" id="13075922">
                <a class="subject-img" href="https://book.douban.com/subject/35267458/">                    <img alt="冯唐成事心法" title="冯唐成事心法" src="https://img1.doubanio.com/view/subject/m/public/s33775208.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/4385493/" class="avator">
            <img width="24" height="24" src="https://img2.doubanio.com/icon/u4385493-23.jpg">
        </a>

        <a href="https://www.douban.com/people/4385493/" class="name">顾大海</a>

            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2020-12-23" class="main-meta">2020-12-23 06:18:27</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/13075922/">打工人，如何避免被割韭菜</a></h2>

                <div id="review_13075922_short" class="review-short" data-rid="13075922">
                    <div class="short-content">

                        最近看到一个话题，我打工十年了为什么还这么穷？ 很多人在评论区哀嚎自己挣得还不够花，更恐怖的是随着年龄增长，突然发现越来越丢了初心，现实与你初入职场时的理想背道而驰，成功是不可能的，反而是韭菜被别人割了一茬又一茬，难道我们打工人这辈子都不能咸鱼翻身了吗？ 古...

                        &nbsp;(<a href="javascript:;" id="toggle-13075922-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_13075922_full" class="hidden">
                    <div id="review_13075922_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="13075922" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-13075922">
                                77
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="13075922" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-13075922">
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/13075922/#comments" class="reply ">24回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="13060421">
        <div class="main review-item" id="13060421">
                <a class="subject-img" href="https://book.douban.com/subject/2042982/">                    <img alt="七龙珠" title="七龙珠" src="https://img1.doubanio.com/view/subject/m/public/s2962209.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/zhangjiawei/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u1887834-21.jpg">
        </a>

        <a href="https://www.douban.com/people/zhangjiawei/" class="name">张佳玮</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2020-12-16" class="main-meta">2020-12-16 18:59:57</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/13060421/">漫画史最燃的一刻，莫过于初次见到超级赛亚人</a></h2>

                <div id="review_13060421_short" class="review-short" data-rid="13060421">
                    <div class="short-content">

                        我估计，在我有生之年，被问到“看过最燃的一幕漫画是什么”时，我还是会说： “悟空变成超级赛亚人的瞬间。” 想一想，为什么呢？ 大概是稀有吧？ 到后来，《龙珠》里超级赛亚人遍地跑，发型和光焰随意变，甚至头发颜色也从黑变金从金变赤橙黄绿青蓝紫时，那美克星那个区区超...

                        &nbsp;(<a href="javascript:;" id="toggle-13060421-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_13060421_full" class="hidden">
                    <div id="review_13060421_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="13060421" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-13060421">
                                95
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="13060421" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-13060421">
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/13060421/#comments" class="reply ">24回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="13057157">
        <div class="main review-item" id="13057157">
                <a class="subject-img" href="https://book.douban.com/subject/34802741/">                    <img alt="唐宋官私目录研究" title="唐宋官私目录研究" src="https://img9.doubanio.com/view/subject/m/public/s33775144.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/130263193/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u130263193-20.jpg">
        </a>

        <a href="https://www.douban.com/people/130263193/" class="name">思适斋中小学生</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2020-12-15" class="main-meta">2020-12-15 09:17:57</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/13057157/">王重民後，乃有此著——學習馬楠《唐宋官私目錄研究》</a></h2>

                <div id="review_13057157_short" class="review-short" data-rid="13057157">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇书评可能有关键情节透露</p>

                        馬楠《唐宋官私目錄研究》近日由中西書局出版。筆者拜讀數過，草成此文，首先分別敘述各篇文章的觀點，作簡要評論，在此基礎上嘗試對作者目錄學研究的一些特點進行總結。 一、分述 （一）《隋書經籍志》著錄撰人銜名來源考 本文首先考證《隋志》著錄條目的三種文獻來源，認爲《...

                        &nbsp;(<a href="javascript:;" id="toggle-13057157-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_13057157_full" class="hidden">
                    <div id="review_13057157_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="13057157" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-13057157">
                                91
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="13057157" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-13057157">
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/13057157/#comments" class="reply ">4回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="13075121">
        <div class="main review-item" id="13075121">
                <a class="subject-img" href="https://book.douban.com/subject/35249388/">                    <img alt="沉默的病人" title="沉默的病人" src="https://img1.doubanio.com/view/subject/m/public/s33776227.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/Luna-cat/" class="avator">
            <img width="24" height="24" src="https://img1.doubanio.com/icon/u2831387-157.jpg">
        </a>

        <a href="https://www.douban.com/people/Luna-cat/" class="name">李小丢</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2020-12-22" class="main-meta">2020-12-22 21:47:43</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/13075121/">他用语言杀死了我，在我杀死他之前</a></h2>

                <div id="review_13075121_short" class="review-short" data-rid="13075121">
                    <div class="short-content">

                        杀死丈夫的时候，艾丽西亚三十三岁。 她往丈夫脸上连开五枪，在警察闯入凶案现场之后，始终不发一言。 这原本只是一场普通的家庭悲剧，但她持久的沉默，不为自己做任何辩驳的态度却使它成为了一桩惊天大案——一桩迷案、一桩奇案。 这是英国作家亚历克斯·麦克利兹所著的悬疑小...

                        &nbsp;(<a href="javascript:;" id="toggle-13075121-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_13075121_full" class="hidden">
                    <div id="review_13075121_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="13075121" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-13075121">
                                44
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="13075121" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-13075121">
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/13075121/#comments" class="reply ">6回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="13063836">
        <div class="main review-item" id="13063836">
                <a class="subject-img" href="https://book.douban.com/subject/21966353/">                    <img alt="贫穷的本质" title="贫穷的本质" src="https://img3.doubanio.com/view/subject/m/public/s26693881.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/SWX/" class="avator">
            <img width="24" height="24" src="https://img9.doubanio.com/icon/u1210502-115.jpg">
        </a>

        <a href="https://www.douban.com/people/SWX/" class="name">SWX</a>

            <span class="allstar30 main-title-rating" title="还行"></span>

        <span content="2020-12-18" class="main-meta">2020-12-18 09:50:57</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/13063836/">非常、非常糟糕的翻译</a></h2>

                <div id="review_13063836_short" class="review-short" data-rid="13063836">
                    <div class="short-content">

                        本来已经不想跟中信较劲了，中信的翻译质量差已经是现象级的了，其实本来很多翻译差的书很多都所谓自有天收，很多卖的都很不咋地。但是这本卖得非常好，显然是托了诺贝尔经济学奖的洪福。 本书中文版第初版于2013年，当时就有很多人指出翻译质量很差，后来在2018年又出了一个修...

                        &nbsp;(<a href="javascript:;" id="toggle-13063836-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_13063836_full" class="hidden">
                    <div id="review_13063836_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="13063836" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-13063836">
                                59
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="13063836" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-13063836">
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/13063836/#comments" class="reply ">11回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="13072655">
        <div class="main review-item" id="13072655">
                <a class="subject-img" href="https://book.douban.com/subject/35092383/">                    <img alt="把自己作为方法" title="把自己作为方法" src="https://img9.doubanio.com/view/subject/m/public/s33683876.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/weizhoushiwang/" class="avator">
            <img width="24" height="24" src="https://img1.doubanio.com/icon/u1679535-8.jpg">
        </a>

        <a href="https://www.douban.com/people/weizhoushiwang/" class="name">维舟</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2020-12-21" class="main-meta">2020-12-21 19:41:11</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/13072655/">把项飙作为方法</a></h2>

                <div id="review_13072655_short" class="review-short" data-rid="13072655">
                    <div class="short-content">

                        “把……作为方法”可说是这些年来学术圈最为流行的话语之一，体现出一种反思性的趣味：人们研究的并不仅仅是对象本身（例如“中国作为方法”），而是借助对这个对象的认知、理解，反思更深远的意义。尽管这早已平常化了，但“把自己作为方法”的提法还是不免让人耳目一新，因...

                        &nbsp;(<a href="javascript:;" id="toggle-13072655-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_13072655_full" class="hidden">
                    <div id="review_13072655_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="13072655" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-13072655">
                                40
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="13072655" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-13072655">
                                1
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/13072655/#comments" class="reply ">0回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="13060029">
        <div class="main review-item" id="13060029">
                <a class="subject-img" href="https://book.douban.com/subject/35200627/">                    <img alt="中国·1980" title="中国·1980" src="https://img3.doubanio.com/view/subject/m/public/s33770741.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/hinabookart/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u150568932-10.jpg">
        </a>

        <a href="https://www.douban.com/people/hinabookart/" class="name">艺饭</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2020-12-16" class="main-meta">2020-12-16 15:49:58</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/13060029/">照片里的孩子们，你们现在还好吗？</a></h2>

                <div id="review_13060029_short" class="review-short" data-rid="13060029">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇书评可能有关键情节透露</p>

                        不管是在这本书里，还是在媒体面前，或者是在与我们的交流中，当年的金发瘦小伙、此时头发灰白的、有点发福的老外——摄影师迈克·埃默里一直牵挂着这些镜头中的人。 1980年春天的上海，23岁的英国人迈克·埃默里走下一艘轮船。那是他第一次来中国，他也是第一批来到中国旅游的...

                        &nbsp;(<a href="javascript:;" id="toggle-13060029-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_13060029_full" class="hidden">
                    <div id="review_13060029_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="13060029" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-13060029">
                                49
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="13060029" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-13060029">
                                2
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/13060029/#comments" class="reply ">0回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="13078641">
        <div class="main review-item" id="13078641">
                <a class="subject-img" href="https://book.douban.com/subject/35256004/">                    <img alt="众神的战争：希腊神话与西方艺术" title="众神的战争：希腊神话与西方艺术" src="https://img2.doubanio.com/view/subject/m/public/s33759403.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/154066459/" class="avator">
            <img width="24" height="24" src="https://img1.doubanio.com/icon/u154066459-9.jpg">
        </a>

        <a href="https://www.douban.com/people/154066459/" class="name">沈灵犀</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2020-12-24" class="main-meta">2020-12-24 16:11:12</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://book.douban.com/review/13078641/">众星陨落的特洛伊战争——希腊神话与西方艺术</a></h2>

                <div id="review_13078641_short" class="review-short" data-rid="13078641">
                    <div class="short-content">

                        作为一个历史悠久的文明古国，中国有着众多的神话故事，盘古开天、夸父逐日、后羿射日、嫦娥奔月……这些神话代代流传直到今天。在遥远的西方，历史同样悠久的希腊也存在众多的神话故事。比如普罗米修斯盗火、潘多拉魔盒等。 虽然都是神话故事，但希腊神话和中国神话有着许多不...

                        &nbsp;(<a href="javascript:;" id="toggle-13078641-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_13078641_full" class="hidden">
                    <div id="review_13078641_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="13078641" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-13078641">
                                25
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="13078641" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-13078641">
                        </span>
                    </a>
                    <a href="https://book.douban.com/review/13078641/#comments" class="reply ">0回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>


    

    

    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/35597822be194a5d.js"></script>
    <!-- COLLECTED CSS -->
</div>








  
  
    
    

    
        <div class="paginator">
        <span class="prev">
            &lt;前页
        </span>
        
        

                <span class="thispage" data-total-page="3">1</span>
                
            <a href="/review/best?start=20" >2</a>
        
                
            <a href="/review/best?start=40" >3</a>
        
        <span class="next">
            <link rel="next" href="/review/best?start=20"/>
            <a href="/review/best?start=20" >后页&gt;</a>
        </span>

            <span class="count">(共50条)</span>
        </div>



      </div>
      <div class="aside">
        
  <!-- douban ad begin -->
  <div id="dale_review_best_top_right"></div>
  <!-- douban ad end -->

  




  <div class="sidebar-info-wrapper">
    <div class="sidebar-copy">
      




  <p>如果你觉得一篇评论对你有帮助，请你点击“有用”。你的投票直接决定哪些评论出现在豆瓣首页和“豆瓣最受欢迎的评论”里，以及在书、电影和音乐介绍页里评论的排序。</p>
  <p>所有“没用”的点击都是匿名的。</p>

    </div>


  </div>


    
  
  
<p class="pl">
  <span class="feed">    <a href="/feed/review/book">订阅豆瓣最受欢迎的书评</a>  </span>
</p>







      </div>
      <div class="extra">
        
    <!-- douban ad begin -->
    <div id="dale_movie_review_best_bottom_banner"></div>
    <!-- douban ad end -->

      </div>
    </div>
  </div>

    
  <div id="footer">
      <div class="footer-extra"></div>
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2020 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=book" target="_blank">帮助中心</a>
    · <a href="https://book.douban.com/library_invitation">图书馆合作</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

  </div>

  </div>
    
  
  
  

  
  

  




  

  <!-- COLLECTED JS -->
  
  <!-- douban ad begin -->
  
  




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '',
            browserId = '7k3puvjA1fM',
            criteria = '3:/review/best/',
            preview = '',
            debug = false,
            adSlots = ['dale_review_best_top_right', 'dale_book_review_best_bottom_banner'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/czF5ODV4Ni9mL2FkanMvMjBiYWY2MDg2ZWQ0MDE1YTNmMDJhNDYxMzhmNmM0MjQxYjExYWYwMC9hZC5yZWxlYXNlLmpz');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










  <!-- douban ad end -->

  
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '0', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








  <!-- dae-web-zerkalo--default-5cd85b7c77-dktl5-->

  <script>_SPLITTEST=''</script>
</body>

</html>


